@import "tailwindcss";
.neumorphic-card {
  background: #e0e5ec;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.neumorphic-btn {
  background: #e0e5ec;
  box-shadow: 4px 4px 8px rgba(163, 177, 198, 0.6),
    -4px -4px 8px rgba(255, 255, 255, 0.5);
  border: none;
  transition: all 0.3s ease;
}

.neumorphic-btn:hover {
  box-shadow: inset 4px 4px 8px rgba(163, 177, 198, 0.6),
    inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}
